{% extends 'base.html.twig' %}

{# {% block title %}Liste des recettes{% endblock %} #}
{% block title %}{{slug}}{% endblock%}

{% block body %}

<h3>Bienvenue dans la pag show {{id}} <h3>
<p>comement fair 1 {{slug}}</P>
{% endblock %}

